$screen_xs_max: 767px;
   $screen_md_max: 1199px;
$background_color: rgba(255, 255, 255, 0.95) !important;
$border_width: 0;

// Some comment is here ...
$width:90px;
$line_height: 1.5;
$screen_us_max: $screen_md_max + 300;
$screen_sm_max: 400px; // Some comment to clear this statement.