# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 39210088ee226d84b34c677c2bb0810d8bed3fbe5153e1df2b87a5fdd1b4dd9a6ab7f62052c3e151c3406feb6accc15c1a95861bdfed2e8510a3929ca0c00868

test:
  secret_key_base: 68a5b82d8c43adc7c6e0e2556e3861280e62ec97c3350d81538c81796a8a9ed328836f16fda371a106de8e0a71b6745a12c135d17fed28ce52a0bff192500d63

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
