@import "variables";

$ocean_blue_color: #82c9ed;
$light_black: #4c4c4c;
$hard_black: #1c1c1c;
$min_nav_part_size: $min_nav_height / $nav_parts;

.navbar-default{
  background-color: rgba(255, 255, 255, 0.95) !important;
}

.navbar-default .navbar-nav > li > a{
  color: $light_black !important;

  &:hover{
    color: $ocean_blue_color !important;

    span.underliner{
      border-bottom: 1px solid $ocean_blue_color;
      padding-bottom: 8px;
    }
  }
}

// Customize bottom of the navbar
.navbar-fixed-top{
  border-width: 0 0 0 !important;
  box-shadow: 0px 0px 2px;
}

// To show data AFTER navbar (removing blocking the content).
body {
  padding-top: $big_nav_height + $big_nav_bottom_padding; // Few pixels added for more space.
}

a.navbar-brand{
  font-weight: bold;
  color: $hard_black !important;
}

// ----------------------------------------------------------------- //
// -------------------- Minimized navbar style. -------------------- //
// ----------------------------------------------------------------- //

@mixin minimized-navbar() {
  .navbar.minimized{
    min-height: $min_nav_part_size !important;
  }

  a.navbar-brand.minimized{
    padding-bottom: $min_nav_part_size;
    padding-top: $min_nav_part_size;
  }

  .navbar-default .navbar-nav > li > a.minimized{
    padding-bottom: $min_nav_part_size;
    padding-top: $min_nav_part_size;
  }

  .navbar-header.minimized{
    margin-bottom: -51px;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include minimized-navbar();
}

@media (min-width: $screen-lg-min) {
  @include minimized-navbar();
}

// TODO: make navbar minimized for smaller screens too.
// @media (max-width: $screen-xs-max) {
// }

// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
// }

