@import "config";

$ocean_blue_color: #82c9ed;
$light_black: #4c4c4c;
$hard_black: #1c1c1c;

.navbar-default{
  background-color: rgba(255, 255, 255, 0.95) !important;
}

.navbar-default .navbar-nav > li > a{
  color: $light_black !important;

  &:hover{
    color: $ocean_blue_color !important;

    span.underliner{
      border-bottom: 1px solid $ocean_blue_color;
      padding-bottom: 8px;
    }
  }
}

// Customize bottom of the navbar
.navbar-fixed-top{
  border-width: 0 0 0 !important;
  box-shadow: 0px 0px 2px;
}

// To show data AFTER navbar (removing blocking the content).
body {
  padding-top: $nav_height + 15px; // Few pixels added for more space.
}

a.navbar-brand{
  font-weight: bold;
  color: $hard_black !important;
}